<p xmlns="http://www.w3.org/1999/html" style="font-size: x-large"> Welcome {{name}}!
</p>


<div style="font-family:'FreeMono'" class="row">

  <div class="col-md-6 login-container" >
    <form [formGroup]="welcomeForm" (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="title" style="color: coral"> Movie title: </label>
        <input type="text" class="form-control"  formControlName="title" id="title" autocomplete="off">
        <div class="error" style="color: red"  *ngIf="welcomeForm.controls['title'].hasError('required') && welcomeForm.controls['title'].touched">
          Title is required</div>
      </div>
      <br>
      <div class="form-group" style="color: coral">
        <label for="year"> Movie year:  </label>
        <input type="text" class="form-control" formControlName="year" id="year" autocomplete="off">
      </div>
      <br>
      <br>
      <button class="btn btn-success" style="background-color: burlywood" [disabled]="welcomeForm.invalid">
        <div>Search movies</div>
      </button>
    </form>
  </div>

  <div style="font-family:'FreeMono'">
    <div *ngIf =movie!=''>
    <ngx-json-viewer  [json]="movie" [expanded]="true"></ngx-json-viewer>
    </div>
    <div></div>
    <div></div>
  </div>

  <ul>
    <li *ngFor="let item of items | keyvalue">
      {{item.key}}  ---  {{item.value}}</li>
  </ul>
  <br>
  <div>
  <button *ngIf="movie != ''"(click)="clickFunction()">Show movie details</button>
  </div>



</div>
