
<p>movie works!</p>

<div>
  <ngx-json-viewer [json]="movie" [expanded]="true"></ngx-json-viewer>
</div>

<div class="col-md-6 login-container">
    <div >
      <label>Insert comment:</label>
      <input type="text" [(ngModel)]="newComment" class="form-control" name="comment" id="newComment" autocomplete="off">
      <button (click)="commentMovie(newComment)">Add comment :) </button>
      <div class="error" *ngIf="commentForm.controls['comment'].hasError('required') && commentForm.controls['username'].touched">Comment can't be empty</div>
    </div>
</div>
