
<p align="center" style="font-style: oblique">Movie Information!</p>

<div>
  <ngx-json-viewer align="center" [json]="movie" [expanded]="true"></ngx-json-viewer>
</div>
<br>
<br>

<div align="center" class="col-md-6 login-container">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label>Insert comment: </label>
      <input type="text"  class="form-control" formControlName="comment" id="newComment" autocomplete="off">
      <div class="error" *ngIf="commentForm.controls['comment'].hasError('required')">Comment can't be empty</div>
    </div>
    <button > Add comment :) </button>
  </form>
</div>
